.route_create_btn {
      position: fixed;
      bottom: 20%;
      right: 10%;
      margin: 10px;
}

.route_create_btn img {
    width: 60px;
    height: 60px;
}

.selected_reports_field{
   width: 300px;                /* 横幅を200pxに指定 */
   height: 200px;               /* 横幅を200pxに指定 */
   overflow-y: scroll;
}
