<footer class="footer">
    <!-- 各アイコンリンクは未入力-->
    <div class="footer-menu">
        <div><a href="{{ url('routes') }}"><img src="{{ static('image/vehicle-v-icon.png') }}" alt="ルート"></a></div>
        <div><a href="{{ url('home') }}"><img src="{{ static('image/home-icon.png') }}" alt="ホーム"></a></div>
        <div><a href="{{ url('reports/create') }}"><img src="{{ static('image/report-icon.png') }}" alt="レポート"></a></div>
    </div>

    <div class="container">
        <p class="text-muted">© RareTECH Hackathon 2026 Summer D team. All rights reserved.</p>
    </div>
</footer>
