{% extends 'base.html' %}
{% block title %}あやかしさんぽwelcome{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="background" style="background-image: url('{{ static("image/background.png") }}');"></div>
        <img class="logo" src="{{ static('image/logo.png')}}" alt="アプリロゴ">
        <img class="nueimg" src="{{ static('image/nue-b.png' )}}" alt="鵺">
        <!-- リンク先要確認 -->
        <a href="{{ url('users:home') }}" class="btn btn-purple col-7 mx-auto d-block">
            妖怪探しの旅に出る
        </a>
        <p>この世のどこかに潜む妖怪と<br>出会える地図アプリ</p>
        <br>
        <img class="catimg" src="{{static('image/cat-b.png')}}" alt="化け猫">
        
        <div class="mt-4">
            <a href="{{ url('users:login')}}">ログイン</a>
        </div>
{% endblock %}
