{% extends 'base.html' %}
{% block title %}ルート一覧{% endblock %}
{% block page_css %}<link rel="stylesheet" href="{{ static('css/route.css') }}">{% endblock %}


{% block content %}
    <!-- 選択中のルート情報(スクロールできる) -->
    <div class="selected_reports_field">
        {% if reports %}
            <div class="selected_reports">
                <h3>以下の投稿を選択しています。</h3>
                <ol>
                {% for report in reports %}
                    <li>{{ report.title }}</li>
                {% endfor %}
                </ol>
            </div>
        {% endif %}
            <!-- この順番でルートを確定（確定すると下に地図でルートが表示される） -->
            <button type="button">この順番でルートを確定</button>

            <!-- 説明文 -->
            <p>順番を確定すると下にルートが表示されます。</p>

            <!-- 確定後のルートを地図に表示 -->
            <div><!-- 地図（確定したルートのプレビュー） --></div>
    </div>

    <!-- ルート情報の入力フォーム（送信先: ルート作成処理） -->
    <div class="root_create_input_field">
        <form method="post" action="{{ url('routes:route_create') }}">
            <!-- セキュリティ対策（CSRFトークン） -->
            {{ csrf_input }}

            <!-- forms.py で定義した入力項目（route_title, route_description）をpタグで表示(form.as_p()) -->
            <div class="form_fields">
                {{ form.as_p() }}
            </div>

            <button type="submit" class="btn-submit">ルートを保存する</button>
        </form>
    </div>


{% endblock %}
