{% extends 'base.html' %}
{% block title %}ルート一覧{% endblock %}
{% block page_css %}<link rel="stylesheet" href="{{ static('css/route.css') }}">{% endblock %}


{% block content %}

  <!-- ルート一覧（1件ずつ繰り返し表示） -->
  <div class="route-list">
    {% for route in routes %}
      <div class="route-card">
        <!-- Routeモデルのフィールド（例: name）を表示 -->
        <h3>{{ route.route_title }}</h3>

        <!-- 詳細画面（route_detail）へのリンク -->
        <a href="{{ url('routes:route_detail', route.pk) }}">詳細を見る</a>
      </div>

    {% else %}
      <p>登録されているルートはまだありません。</p>
    {% endfor %}
  </div>

  <div class="route_create_btn">
    <a href="{{ url('routes:route_select_reports') }}"><img src="{{ static('image/writingpen.png') }}" alt="ルート作成">
  </div>

{% endblock %}