{% extends 'base.html' %}
{% block title %}あやかしさんぽ 500 Internal Server Error{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ static('css/error.css') }}">
{% endblock %}

{% block content %}
    <div class="text-center">
        <p class="error-message">500 Internal Server Error</p>

        {# <div class="background" style="background-image: url('{{ static("image/background.png") }}');"></div> #}

        <img class="error" src="{{ static('image/error.png')}}" alt="エラー画像">
        
        <!--  welcome画面へ戻る -->
        <div class="mt-4">
            <a href="{{ url('users:welcome') }}" class="back-welcome">トップ画面へ戻る</a>
        </div>
    </div> 

{% endblock %}