{% extends 'base.html' %}
{% block title %}あやかしさんぽ 500 Internal Server Error{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ static('css/auth.css') }}">
{% endblock %}

{% block content %}
    <div class="text-center">
        <h4>500 Internal Server Error</h4>
        <!--
        <div class="background" style="background-image: url('{{ static("image/background.png") }}');"></div>
        -->
        <img class="error" src="{{ static('image/error.png')}}" alt="エラー画像">
        
        <!-- welcome画面へ戻る -->
        <div class="mt-4">
            <a href="{{ url('home') }}" class="back-home">トップ画面へ戻る</a>
        </div>
    </div> 

{% endblock %}
